﻿@{
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
}

<h1>Shopping Cart</h1>

<div id="cart"> </div>

<script>

    var ids = localStorage.getItem("Id");
    ids = ids.split(',').map(Number);

    let response = {};
    let mainContainer = document.getElementById("cart");

    @*let removeBtn = document.getElementById("removeId");*@

    fetch('http://localhost:38310/Course/CheckoutCart/?values=' + ids)
        .then(response => response.json())
        .then((data) => {
            let cartItems = JSON.parse(data);
            let totalAmount = 0;
            let labelTA = document.createElement("label");
            labelTA.id = 'totalAmount';
            let labelText = "";

            if (cartItems.length == 0) {
                let div = document.createElement("div");
                div.innerHTML = "Cart is empty";
                mainContainer.appendChild(div);
            }
            else {
                for (let i = 0; i < cartItems.length; i++) {
                    @*console.log(cartItems.length + "lng");*@

                    let div = document.createElement("DIV");
                    div.innerHTML = JSON.stringify(cartItems[i]);
                    mainContainer.appendChild(div);

                    let button = document.createElement("BUTTON");
                    let text = document.createTextNode("remove");
                    button.appendChild(text);
                    button.id = 'removeId';

                    let courseId = Object.values(cartItems)[i].Id;
                    button.value = parseInt(courseId);
                    div.appendChild(button);

                    // total amoutn calc
                    let tAmountArr = Object.values(cartItems)[i].Price;
                    totalAmount = totalAmount + parseFloat(tAmountArr);

                    button.onclick = function () {

                        let btnValue = parseInt(button.value);
                        let index = ids.indexOf(btnValue);

                        // splice of item is found

                        console.log(index);
                        if (index > -1) {
                            ids.splice(index, 1);
                            localStorage.setItem("Id", ids);

                            // Either refresh the window to load the local storage value again
                            // window.top.location = window.top.location;

                            // Or remove the row without refreshing the page
                            let row = button.parentElement;
                            row.parentNode.removeChild(row);


                            let newTotal = totalAmount - parseFloat(Object.values(cartItems)[i].Price);

                            labelTA.innerHTML = "Total Amount: " + newTotal;
                            totalAmount = newTotal;

                            console.log("TA: " + totalAmount + "index obj: " + Object.values(cartItems)[i].Price);

                            if (totalAmount === 0) {
                                // reload to trigger cart is empty
                                window.top.location = window.top.location;
                            }
                        }
                    }
                }

                let placeOrderBtn = document.createElement("BUTTON");
                let text = document.createTextNode("Place Order");
                placeOrderBtn.appendChild(text);
                placeOrderBtn.id = 'placeOrder';
                mainContainer.appendChild(placeOrderBtn);

                placeOrderBtn.onclick = function () {
                    document.getElementById('is-shown').style.visibility = 'visible';
                    document.getElementById('removeId').disabled = true;
                    document.getElementById('placeOrder').disabled = true;
                }

                labelText = document.createTextNode("Total Amount: " + totalAmount.toFixed(2));
                labelTA.appendChild(labelText);
                var br = document.createElement("BR");
                mainContainer.appendChild(br);
                mainContainer.appendChild(labelTA);
            }
        })

</script>





